<div class="mb-3">
  <app-loader [appCode]="window.uiCode" (appCreated)="onAppCreated(window, $event)" *ngIf="window">
  </app-loader>
</div>
<h1 class="text-center" *ngIf="isInvalid">Invalid app</h1>