<div class="workspaces-header">
  <h4 class="app-header">Workspaces</h4>
  <a href="javascript:;" (click)="showWorkspaceCreateModal(); false">+ New Workspace</a>
</div>
<spinner-flag *ngIf="isLoading"></spinner-flag>
<div [hidden]="isLoading">
  <workspace-expanded-panel (clickOpen)="openWorkspace(ws)" [ws]="ws" *ngFor="let ws of workspaces">
    <div class="row pt-3 pb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 p-3" *ngFor="let tab of ws.windows">
        <div class="app">
          <div class="app-icon" *ngIf="tab.icon">
            <img [src]="tab.icon" >
          </div>
          <div>
            <div class="app-title-wrapper">
              <div class="app-title" (click)="openWorkspace(ws, tab)">
                {{tab.title}}
              </div>
            </div>
            <div class="app-info">
              Modified {{tab.updatedAt | date: 'MM/dd/yyyy'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </workspace-expanded-panel>
</div>
