
@import "vars.less";

h5 {
  color: @labelColor;
  font-size: 24px;
  font-weight: 300;
}

.tool-container {
  display: flex;
}

.tool {
  border: 1px solid #E0E7FF;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  flex: 1;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(46,91,255,0.2);
  }

  .tool-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    .tool-body-top {
      flex: 1;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .tool-title {
        font-weight: 400;
        margin: 0px 0px 10px 0px;
        color: @labelColor;
        font-size: 16px;
      }

      .tool-description {
        color: #687794;
        font-size: 12px;
        margin-bottom: 0px;
      }

      .tool-image {
        margin-left: 24px;
        min-width: 80px;
        min-height: 80px;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        background-color: #3A425A;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 64px;
          max-height: 64px;
        }
      }
    }

    .tool-body-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tool-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        color: #687794;

        .tool-rating {
          font-size: 13px;
          color: #EAEEFF;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #A9B3C5;
        }

        >i {
          font-size: 13px;
          color: #C3C9D4;
          margin-left: 4px;
        }
      }

      button {
        color: #2E5BFF;
        border-radius: 5px;
        background-color: #EAEEFF;
        border: none;
        padding: 6px 24px;
      }
    }
  }
}
