<h4 class="app-header">Tools</h4>
<div *ngFor="let g of groups">
  <!-- <h5>{{g.group}}</h5> -->
  <div class="row">
    <div class="tool-container col-xl-3 col-lg-4 col-md-6 p-3" *ngFor="let tool of g.rows">
      <div class="tool" *ngIf="!tool.hide">
        <div class="tool-body">
          <div class="tool-body-top">
            <div>
              <h5 class="tool-title">{{tool.title}}</h5>
              <p class="tool-description">{{tool.description}}</p>
            </div>
            <div class="tool-image" *ngIf="tool.icon">
              <a href="javascript:;" (click)="selectTool(tool)"><img src="{{tool.icon}}" alt="{{tool.title}}"></a>
            </div>
          </div>
          <div class="tool-body-bottom">
            <div class="tool-info">
              <!-- <div class="tool-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div> -->
              {{tool.downloads || 0}}
              <i class="fas fa-user"></i>
            </div>
            <button href="" class="btn btn-primary" (click)="selectTool(tool)">Open</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
