<div >
  <div *ngFor="let g of groups" >
    <table class="table table-bordered m-0 p-0">
      <thead *ngIf="g.group && g.group !== 'undefined'">
        <tr>
          <th colspan="2">{{g.group}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of g.rows">
          <td style="width: 50%">{{r.key}}</td>
          <td [ngClass]="r.cssClass" class="zs-grid-cell-right">{{r.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>