<div class="modal-header">
  <h5 class="modal-title pull-left">{{model.id?'Model Edit':'Model Save'}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="isLoading">
  <spinner-flag></spinner-flag>
</div>
<form (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="!isLoading">
  <div class="modal-body">
    <spinner-flag *ngIf="isLoading"></spinner-flag>
    <div class="form-group">
      <label for="modelName">Models name</label>
      <input class="form-control" [class.form-control-error]="name.invalid && (name.dirty || name.touched)"
        placeholder="Enter model name" [(ngModel)]="model.name" name="name" required maxlength="40" #name="ngModel"
        formTrim>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required || name.errors.formTrim">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-group mb-0">
      <label for="description">Description</label>
      <textarea class="form-control" placeholder="Tell us about your model"
        [(ngModel)]="model.description" name="description" maxlength="200" rows="5"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary mr-3" [disabled]="form.invalid" (click)="event='save'">Save</button>
    <button type="submit" class="btn btn-secondary mr-3" [disabled]="form.invalid || !model.id"
      (click)="event='publish'">Publish</button>
    <button type="submit" class="btn btn-secondary" (click)="onReset()" *ngIf="!model.id">Reset</button>
    <button type="submit" class="btn btn-danger" (click)="event='delete'" *ngIf="model.id">Delete</button>
  </div>
</form>
