@import "vars.less";

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.workspace-nav {
  padding: 8px 20px;
  margin: -30px -30px 0px -30px;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #E0E7FF;
}

.dropdown {
  margin-right: 13px;
  display: flex;
  flex-direction: column;

  .dropdown-label {
    color: #687794;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
  }

  .dropdown-toggle {
    color: @labelColor;
    font-size: 14px;
    line-height: 16px;
    padding: 0px;
  }
}

.workspace-nav-container {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-bottom: -11px;
  align-items: center;
  overflow: hidden;

  .workspace-nav-tabs {
    display: flex;
    overflow-x: auto;

    .nav-item {
      margin: 0 4px;
    }
  }
}

.workspace-tab {
  border: 1px solid #E0E7FF;
  border-radius: 3px;
  margin: 0px 7px;
  background-color: #F4F6FC;

  a {
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #A9B3C5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;

    img {
      border-radius: 2px;
      height: 16px;
      margin: 0px 5px 1px 0px;
      opacity: 0.5;
    }

    .tab-title {
      margin-right: 5px;
      font-size: 12px;
    }

    .close-icon {
      display: inline;
      margin-left: 5px;
    }
  }

  &:hover,
  &.active {
    background-color: #FFFFFF;

    a {
      color: @labelColor;

      img {
        opacity: 1;
      }
    }
  }
}

.workspace-nav-add a {
  padding: 6px 13px;
  min-width: 100px;
  display: block;
}

.workspace-nav-buttons {
  display: flex;
  margin-left: 7px;
}
