<ul class="nav workspace-nav">
  <li class="nav-item dropdown" dropdown>
    <span class="dropdown-label">Workspace</span>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button"
      aria-haspopup="true" aria-expanded="false" dropdownToggle>{{selectedWorkspace?.name || 'Select workspace'}}</a>
    <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)" *ngFor="let ws of workspaces" (click)="openWorkspace(ws)"
        [class.active]="selectedWorkspace === ws">
        {{ ws.name }}
        <i class="fas fa-times close-icon" title="Remove Workspace" (click)="removeWorkspace(ws);"
          onclick="event.stopPropagation()"></i>
      </a>
    </div>
  </li>

  <ng-container *ngIf="selectedWorkspace">
    <div class="workspace-nav-container">
      <div class="workspace-nav-tabs">
        <li class="nav-item workspace-tab"
            [class.active]="!tab.settings.isClosed"
            *ngFor="let tab of selectedWorkspace.windows"
            (click)="openTab(tab)"
          >
          <a class="nav-link" href="javascript:void(0)">
            <img [src]="tab.icon" *ngIf="tab.icon">
            {{tab.title}}
            <!-- <i class="fas fa-pencil-alt close-icon" title="Rename tab" (click)="renameTab(tab);" onclick="event.stopPropagation()"></i> -->
            <!-- <i class="fas fa-share" title="Open in new tab" (click)="openInBrowserTab(tab);" onclick="event.stopPropagation()"></i> -->
            <i class="fas fa-times close-icon" title="Close tab" (click)="removeTab(tab);"
              onclick="event.stopPropagation()"></i>
            <i class="spinner-grow spinner-grow-sm" *ngIf="tab.isBusy"></i>
          </a>
        </li>
      </div>
      <li class="nav-item workspace-nav-add" title="Add Application">
        <a href="javascript:void(0)" (click)="showWorkspaceTools()">
          + Add Tools
        </a>
      </li>
    </div>

    <li class="nav-item workspace-nav-buttons">
      <a class="btn btn-primary mr-3" href="javascript:void(0)"
        (click)="showWorkspaceDetails(selectedWorkspace)">Details</a>
      <a class="btn btn-danger" href="javascript:void(0)" (click)="removeWorkspace(selectedWorkspace)">Delete
        workspace</a>
    </li>
  </ng-container>
</ul>

<div class="w-100 h-100" [hidden]="activeView !== 'ws_tabs'">
  <div class="w-100 h-100" *ngFor="let ws of workspaces" [hidden]="selectedWorkspace !== ws">
    <app-workspace-dashboard *ngIf="ws.isOpened"
     (updateTab)="updateTab($event)"  (appCreated)="onAppCreated($event)" [tabs]="ws.windows"></app-workspace-dashboard>
  </div>
</div>

<div *ngIf="activeView === 'ws_details'">
  <app-workspace-details [workspace]="editedWorkspace" (confirmed)="afterSaveWorkspace($event)"
    (cancelled)="setActiveView('ws_tabs')"></app-workspace-details>
</div>
