<div class="modal-body ">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>{{title}}</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="value" autofocus>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary mr-3" (click)="confirm()">OK</button>
  <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
</div>
