@import "vars.less";

h4 {
  color: @labelColor;
  font-size: 30px;
  font-weight: 250;
  line-height: 47px;
}

.list-group-item-light.list-group-item-action.active {
  z-index: 2;
  color: white;
  background-color: #687794;
  border-color: #687794;
}

.datasets-selection {
  .list-group-item.active {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 2;
    color: black;
    background-color: #eef2ff;
    border-color: #eef2ff;
  }
}

.tables-selection {
  background-color: #eef2ff;
  padding-top: 10px;
}

.preview-zone {
  background-color: #eef2ff;
  min-height: 200px;

  .text {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
  }

  .grid {
    display: block;
    height: 100%;
  }
}

.table {
  th {
    border: none;
    color: #2E384D;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }

  td {
    color: #2E384D;
    font-size: 14px;
    line-height: 16px;
    padding: 0px 13px;

    .form-group {
      margin: 0px;

      .form-control {
        margin: 0px;
        padding: 0px;
        border: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      select.form-control {
        margin-left: -5px;
      }
    }
  }
}
