<h4 id="dialog-sizes-name1" *ngIf="!ds || !ds.id">Loading data </h4>
<h4 id="dialog-sizes-name1" *ngIf="ds && ds.id">{{ds.name}} </h4>

<div class="select-table card p-4 mt-3">
  <h5 class="mb-3">Please select a table from one of your projects: </h5>

  <div class="row">

    <div class="col-sm-4 pr-0 ">
      <div class="list-group">
        <a href="javascript:;" *ngFor="let p of projects" (click)="selectProject(p)"
          class="list-group-item list-group-item-action list-group-item-light mb-1"
          [class.active]="p.id === ds.settings.projectId">
          {{p.name}}
          <i class="fas fa-angle-right float-right mt-1"></i>
        </a>
      </div>
    </div>

    <div class="col-sm-4 pr-0 datasets-selection" *ngIf="getSelectedProject(); let project">
      <div class="list-group">
        <a href="javascript:;" *ngFor="let ds1 of project.datasets" (click)="selectDataset(ds1)"
          class="list-group-item list-group-item-action" [class.active]="ds1.id === ds.settings.datasetId">
          {{ds1.name}}
        </a>
      </div>
    </div>

    <div class="col-sm-4 tables-selection ml-sm-0 ml-3" *ngIf="getSelectedDataset(); let dataset">
      <div class="custom-control custom-radio" *ngFor="let table of dataset.tables">
        <input [id]="table.id" type="radio" class="custom-control-input" [value]="table.id"
          [(ngModel)]="ds.settings.tableId" (change)="selectTable(table)">
        <label class="custom-control-label" [for]="table.id" [title]="table.name">{{truncateText(table.name)}}</label>
      </div>

    </div>

  </div>
</div>


<div class="select-mappings card p-4 mt-4" *ngIf="getSelectedTable(); let table">
  <h5 class="mb-3">Map your data:</h5>

  <div class="row">

    <div class="col-sm-8">
      <div class="form-group">
        <select class="form-control col-sm-6" [(ngModel)]="ds.settings.templateId" (ngModelChange)="selectTemplate()">
          <option *ngFor="let t of templates" [ngValue]="t.id" [class.selected]="t.id === ds.settings.templateId">
            {{t.name}}</option>
        </select>
      </div>
      <table class="table" *ngIf="getSelectedTemplate(); let template">
        <thead>
          <tr>
            <th>Required Fields</th>
            <th>{{table.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of ds.settings.fieldMappings; index as i">
            <td style="vertical-align: middle">{{getTemplateField(f.fieldId).name}}</td>
            <td>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="f.mappedColumnId" (ngModelChange)="previewGrid.openDataset()">
                  <option *ngFor="let tf of getCompatibleFields(f.fieldId)" [ngValue]="tf.id"
                    [class.selected]="tf.id === f.mappedColumnId">
                    {{tf.name}}</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4 preview-zone p-0" [hidden]="hasPreviewData()" style="display: table">
      <div class="text">Preview soon</div>
    </div>
    <div class="col-sm-4 preview-zone p-0" [hidden]="!hasPreviewData()">
      <app-dataset-grid [dataset]="ds" [domLayout]="'normal'" class="grid" #previewGrid>
      </app-dataset-grid>
    </div>

  </div>

</div>

<form #form="ngForm">
  <div class="select-metadata card p-4 mt-4" *ngIf="getSelectedTable(); let table">
    <h5 class="mb-3">Describe this dataset:</h5>

    <div class="row">

      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" [class.form-control-error]="name.invalid && (name.dirty || name.touched)"
            type="text" placeholder="Name" name="name" [(ngModel)]="ds.name" #name="ngModel" required formTrim>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required || name.errors.formTrim">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Description" name="description" [(ngModel)]="ds.description"
            style="resize: none" cols="50" rows="5" maxlength="250"></textarea>
        </div>
      </div>

    </div>

  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="mt-3">
    <button type="button" class="btn btn-primary mr-3" (click)="onSaveAndPublish()"
      [disabled]="form.invalid || isBusy">Publish</button>
    <button type="button" class="btn btn-secondary" (click)="onSaveDraft()" [disabled]="form.invalid || isBusy">Save Draft</button>
    <button type="button" class="btn btn-default" (click)="onCancel()" [disabled]="isBusy">Cancel</button>
  </div>
</form>
