<select class="form-control" [(ngModel)]="selected" (change)="onSelect()">
  <option value="" selected *ngIf="emptyText">{{emptyText}}</option>
  <option *ngFor="let item of items" [ngValue]="item.code" [class.selected]="item.code === selected">
    {{item.name}}
  </option>
</select>
