<select class="form-control mt-1" [(ngModel)]="selectedItem" *ngIf="getSecLists().length > 1">
    <option *ngFor="let t of getSecLists()" [ngValue]="t">{{t.name}}</option>
</select>
<div class="mt-2 h-100">
        <app-grid [isLoading]="isLoading" [virtualEnabled]="true" [domLayout]="domLayout" [hideHeader]="hideHeader"
        #secListGrid></app-grid>
</div>