.workspace-container {
  height: calc(100% - 22px);
}
.toolbar-menu {
  position: fixed;
  width: 80px;
  height: 100%;
  padding: 16px;
  background-color: #ffffff;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  &.expanded {
    width: 230px;
  }
  .expand-icon {
    position: fixed;
    bottom: 16px;
    left: 31px;
  }
  .nav-bar {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    list-style: none;
    li {
      display: block;
      &.active {
        a {
          color: #2E5BFF;
        }
      }
      a {
        height: 48px;
        display: flex;
        align-items: center;
        text-decoration: none;
        white-space: nowrap;
        color: #687794;
        &:hover {
          border-radius: 5px;
          background-color: rgba(46, 91, 255, 0.1);
        }
        span.m-icon {
          width: 48px;
          min-width: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 14px;
        }
      }
    }
  }
}
.page-content {
  margin-left: 80px;
  max-width: calc(100% - 80px);
  background-color: #F4F6FC;
  padding: 30px 30px 30px 50px ;
  &.expanded {
    max-width: calc(100% - 230px);
    margin-left: 230px;
  }
}
