<div class="row workspace-container">
  <div class="toolbar-menu " [class.expanded]="expanded">

    <ul class="nav-bar">
      <li *ngFor="let app of apps" [class.active]="selectedApp === app" [hidden]="app.hidden">
        <a [routerLink]="app.url" [title]="app.name">
          <span class="m-icon">
            <svg-icon [src]="app.iconUrl"
              [svgStyle]="{'width.px': app.iconSize, 'height.px': app.iconSize, 'fill': selectedApp && selectedApp.url === app.url ? '#2E5BFF' : '#687794'}">
            </svg-icon>
          </span>
          <span class="m-label" [hidden]="!expanded">{{app.name}}</span>
        </a>
      </li>
      <li>
        <a *ngIf="profile && profile.email === 'equeum@equeum.com'" routerLink="/admin" title="Analytics">
          <span class="m-icon">
            <svg-icon src="assets/icons/analytics.svg"
              [svgStyle]="{'width.px': '20', 'height.px': '20', 'fill':'#687794'}"></svg-icon>
          </span>
          <span class="m-label" [hidden]="!expanded">Analytics</span>
        </a>
      </li>
    </ul>

    <a href="javascript:void(0)" class="expand-icon" (click)="expanded = !expanded">
      <span><i class="fas" [class.fa-angle-double-left]="expanded" [class.fa-angle-double-right]="!expanded"></i></span>
    </a>
  </div>
  <div class="page-content col" [class.expanded]="expanded" *ngIf="isLoading">
    <spinner-flag></spinner-flag>
  </div>
  <div class="page-content col" [class.expanded]="expanded" *ngIf="!isLoading">
    <div class="alert alert-danger text-center" role="alert" *ngIf="!selectedApp">
      Unknown path
    </div>
    <div class="w-100 h-100">
      <ng-container *ngFor="let app of apps">
        <app-loader [appCode]="app.code" *ngIf="app.uiCreated" [hidden]="selectedApp !== app"></app-loader>
      </ng-container>
    </div>
  </div>
</div>
