<select class="custom-select" [(ngModel)]="selected" (change)="onSelect()">
  <option *ngFor="let item of items" [ngValue]="item.value" [class.selected]="item.value === selected">
    {{item.key}}
  </option>
</select>