<ag-grid-angular [hidden]="isLoading"
    class="ag-theme-balham zs-ag-grid"
    [class.zs-ag-grid-normal]="domLayout == 'normal'"
    [class.zs-ag-grid-auto-height]="domLayout == 'autoHeight'"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [domLayout]="domLayout"
    (gridReady)="onGridReady($event)"
    (cellClicked)='onCellClicked($event)'
    [rowModelType]="model.rowModelType"
    [gridOptions]="gridOptions"
    >
</ag-grid-angular>
<spinner-flag [message]="'Loading symbol summary...'" *ngIf="isLoading"></spinner-flag>
