<div class="modal-body ">
  <div class="row">
    <div class="col-sm-12">
      <!--<div class="form-group">
                <label for="exampleFormControlInput1">Workspace Name</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="workspace.code" readonly>
            </div>-->
      <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="workspace.name" autofocus>
        <div *ngIf="invalidName" class="alert alert-danger">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" rows="3" [(ngModel)]="workspace.description"
        style="resize: none" cols="50" rows="5" maxlength="250"></textarea>
        <div *ngIf="invalidDescription" class="alert alert-danger">
          Description is required.
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary mr-3" (click)="confirm()"
    [disabled]="!workspace.name || isBusy">Create</button>
  <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
</div>
