.lineDecoration1 {
    left: 40px !important;
    top: 12px !important;
    height: 6px !important;
    width: 6px !important;
    border-radius: 50%;
    background-color: #6E96FC;
  }
  
  .lineDecoration2 {
    left: 40px !important;
    top: 12px !important;
    height: 6px !important;
    width: 6px !important;
    border-radius: 50%;
    background-color: #FF4837;
  }
  
  .loupeGlyphDecoration {
    background: transparent;
    cursor: pointer;
  }
  
  .loupeGlyphDecoration:before {
    display: block;
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='22px' height='22px'%3E%3Cpath fill='%23687794' d='%0AM 865.166 814.195 c 14.564 14.564 14.564 36.409 0 50.972 c -7.282 7.282 -18.204 10.923 -25.486 10.923 s -18.204 -3.641 -25.486 -10.923 l -163.84 -163.84 c -54.613 40.05 -120.149 65.536 -192.967 65.536 c -171.122 0 -309.476 -138.354 -309.476 -309.476 s 138.354 -309.476 309.476 -309.476 c 171.122 0 309.476 138.354 309.476 309.476 c 0 72.818 -25.486 141.995 -65.536 192.967 l 163.84 163.84 Z M 220.729 457.387 c 0 131.072 105.586 236.658 236.658 236.658 c 65.536 0 123.79 -25.486 167.481 -69.177 s 69.177 -101.945 69.177 -167.481 c 0 -131.072 -105.586 -236.658 -236.658 -236.658 s -236.658 105.586 -236.658 236.658 Z M 446.308 517.71 c -5.296 10.417 -16.46 17.046 -28.712 17.046 h -101.312 c -17.585 0 -31.84 -13.442 -31.84 -30.024 s 14.255 -30.024 31.84 -30.024 h 81.265 l 53.352 -104.95 c 11.341 -22.308 44.822 -22.837 56.947 -0.898 l 58.502 105.848 h 27.587 c 17.585 0 31.84 13.442 31.84 30.024 s -14.255 30.024 -31.84 30.024 h -46.897 c -11.868 0 -22.75 -6.224 -28.235 -16.148 l -38.001 -68.755 l -34.495 67.857 Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    height: 30px;
    width: 30px;
  }
  .eqlVariableDecoration {
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    font-style: oblique;
  }