<div class="row pt-3">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" placeholder="" [(ngModel)]="workspace.name" autofocus>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" rows="3" [(ngModel)]="workspace.description"></textarea>
    </div>
  </div>
</div>
<h4>Tools</h4>
<div class="">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let tab of workspace.windows">{{tab.title}}</li>
  </ul>
</div>
<br>
<div class="buttons-panel">
  <button type="button" class="btn btn-primary mr-3" (click)="confirm()"
    [disabled]="!workspace.name || isBusy">Save</button>
  <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
</div>
