<select class="custom-select" [(ngModel)]="selected" (change)="onSelect()">
  <option *ngFor="let item of years" [ngValue]="item" [class.selected]="item === selected">
    {{item}}
  </option>
</select>