<div class="expanded-panel">
  <div class="summary" [ngClass]="{'is-open': isOpen}">
    <div class="summary--text" (click)="toggleOpen()">
      <div class="summary-title">{{ ws.name }}</div>
      <div class="summary-info">
        Modified {{ws.updatedAt | date: 'MM/dd/yyyy'}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ws.windows.length}} Apps
      </div>
    </div>
    <button href="" class="btn btn-primary" [ngClass]="{'is-show': isOpen}" (click)="openWorkspace()">Open</button>
  </div>
  <div class="details" #details [ngClass]="{'is-open': isOpen}">
    <ng-content></ng-content>
  </div>
</div>
