<div class="expanded-panel">
  <div class="summary" [ngClass]="{'is-open': isOpen}">
    <div class="summary--text" (click)="toggleOpen()">
      <div class="summary-title">{{ ds.name }}</div>
      <div class="summary-info">
        Modified {{ds.date | date: 'MM/dd/yyyy'}}
      </div>
    </div>
    <div class="dataset-type">
      <span class="draft" *ngIf="!ds.published">
        <svg-icon src="assets/icons/pen.svg" [svgStyle]="{'margin-right':'2px'}"></svg-icon> Draft
      </span>
      <span class="published" *ngIf="ds.published">
        <svg-icon src="assets/icons/check.svg" [svgStyle]="{'margin-right':'2px'}"></svg-icon> Published
      </span>
    </div>
  </div>
  <div class="details" #details [ngClass]="{'is-open': isOpen}">
    <ng-content></ng-content>
  </div>
</div>
