@import "vars.less";

.widget {
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #687794;
  min-height: 468px;
  display: flex;
  flex-direction: column;
}

.widget-header {
  margin: 30px;
  color: @labelColor;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.widget-content {
  position: relative;
  flex: 1;
}

.widget-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
