<div class="row pt-3 pb-2">
  <div class="col-7">
    <div class="widget">
      <h3 class="widget-header">General statistic</h3>
      <div class="widget-content" *ngIf="generalStatisticsLoading">
        <spinner-flag></spinner-flag>
      </div>
      <div class="widget-content" *ngIf="!generalStatisticsLoading">
        <div class="tabs mb-3">
          <div class="tab" [class.tab-selected]="i === selectedTab"
            *ngFor="let tab of generalStatistics.total; let i = index" (click)="selectedTab = i">
            <div class="tab-header">{{tab.header}}</div>
            <div class="tab-value">{{tab.value}}</div>
          </div>
        </div>
        <highchart [chartSeries]="generalStatistics.charts[selectedTab]"></highchart>
      </div>
      <div class="widget-footer">
        <select class="custom-select" [(ngModel)]="generalStatisticsPeriod" (ngModelChange)="reloadGeneralStatistics()">
          <option *ngFor="let period of periods" [ngValue]="period.value"
            [class.selected]="period.value === generalStatisticsPeriod">
            {{period.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-5">
    <div class="widget">
      <h3 class="widget-header">What pages do your users visit?</h3>
      <div class="widget-content">
        <app-grid #pagesGrid [isLoading]="pagesStatisticsLoading" [domLayout]="'normal'"></app-grid>
      </div>
      <div class="widget-footer">
        <select class="custom-select" [(ngModel)]="pagesStatisticsPeriod" (ngModelChange)="reloadPagesStatistics()">
          <option *ngFor="let period of periods" [ngValue]="period.value"
            [class.selected]="period.value === pagesStatisticsPeriod">
            {{period.label}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row pt-2 pb-3">
  <div class="col-4">
    <div class="widget">
      <h3 class="widget-header">Events category</h3>
      <div class="widget-content">
        <app-grid #eventsGrid [isLoading]="eventsStatisticsLoading" [domLayout]="'normal'"></app-grid>
      </div>
      <div class="widget-footer">
        <select class="custom-select" [(ngModel)]="eventsStatisticsPeriod" (ngModelChange)="reloadEventsStatistics()">
          <option *ngFor="let period of periods" [ngValue]="period.value"
            [class.selected]="period.value === eventsStatisticsPeriod">
            {{period.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="widget">
      <h3 class="widget-header">Search terms</h3>
      <div class="widget-content">
        <app-grid #searchGrid [isLoading]="searchStatisticsLoading" [domLayout]="'normal'"></app-grid>
      </div>
      <div class="widget-footer">
        <select class="custom-select" [(ngModel)]="searchStatisticsPeriod" (ngModelChange)="reloadSearchStatistics()">
          <option *ngFor="let period of periods" [ngValue]="period.value"
            [class.selected]="period.value === searchStatisticsPeriod">
            {{period.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="widget">
      <h3 class="widget-header">New and Returning Users</h3>
      <div class="widget-content" *ngIf="usersStatisticsLoading">
        <spinner-flag></spinner-flag>
      </div>
      <div class="widget-content" *ngIf="!usersStatisticsLoading">
        <highchart [chartOptions]="usersChart" [isStock]="false" [chartSeries]="usersStatistics"></highchart>
      </div>
      <div class="widget-footer">
        <select class="custom-select" [(ngModel)]="usersStatisticsPeriod" (ngModelChange)="reloadUsersStatistics()">
          <option *ngFor="let period of periods" [ngValue]="period.value"
            [class.selected]="period.value === usersStatisticsPeriod">
            {{period.label}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
