<div class="row pt-3 mb-3">
  <div class="col">
    <div class="row mb-3">
      <div class="col">
        <h4>Page Attendance Analysis</h4>
      </div>
      <div class="col-auto">
        <select class="custom-select" [(ngModel)]="period" (ngModelChange)="reload()">
          <option *ngFor="let p of periods" [ngValue]="p.value" [class.selected]="p.value === period">
            {{p.label}}</option>
        </select>
      </div>
    </div>
    <ul class="nav nav-tabs flex-row justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedPage === 0" href="javascript:;"
          (click)="selectedPage = 0; reload()">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedPage === 1" href="javascript:;"
          (click)="selectedPage = 1; reload()">All
          Pages</a>
      </li>
    </ul>
  </div>
</div>
<div class="row pb-3">
  <div class="col" *ngIf="selectedPage === 0">
    <div class="tabs mb-3">
      <div class="tab" [class.tab-selected]="i === selectedTab" *ngFor="let tab of pageAttendanceAnalysis.total; let i = index"
        (click)="selectedTab = i">
        <div class="tab-header">{{tab.header}}</div>
        <div class="tab-value">{{tab.value}}</div>
      </div>
    </div>
    <div class="chart-container">
      <spinner-flag *ngIf="loading"></spinner-flag>
      <highchart *ngIf="!loading" [chartSeries]="pageAttendanceAnalysis.charts[selectedTab]"></highchart>
    </div>
  </div>
  <div class="col" *ngIf="selectedPage === 1">
      <app-grid [isLoading]="loading" [columnDefs]="columnDefs" [rowData]="allPages"></app-grid>
  </div>
</div>
