<div class="app-panel">
  <h4 class="app-header" *ngIf="false && (!model.name || ws)"> Models</h4> 
  <h5 class="model-header" *ngIf="false && model.name && !ws">
    {{model.name}}
  </h5>
  <div class="model-builder-body" [style.margin-top]="ws?'30px':'0px'" #containerElm>
    <as-split direction="vertical" style="height: calc(100% - 34px)" (dragEnd)="afterResize()">
      <as-split-area size="65" [visible]="isVisibleChart" [order]="0" style="position: relative">
        <app-model-builder-request-progress *ngIf="isLoading" [uiReq]="uiReqs[uiReqs.length - 1]"></app-model-builder-request-progress>
        <div style="height: 100%" [hidden]="isLoading">
          <highchart #chart1></highchart>
        </div>
        <div class="" [hidden]="isLoading || !hasMetricChart" style="position: absolute;width: 200px;top: 50%;">
          <div class="">
            <div class="row">
              <label for="sort" class="col-sm-3 col-form-label"> Metric </label>
              <div class="col-sm-9">
                <app-items-select (select)="onUiPartChanged($event)" [items]="chart2UiPartItems"
                  [selected]="chart2UiPart"></app-items-select>
              </div>
            </div>
          </div>
        </div>
      </as-split-area>
      <as-split-area size="35" class="model-builder-split-area" [order]="2">
        <div class="row">
          <div class="col-sm-12">
            <div class="model-builder-toolbar">
              <button class="btn" (click)="showSettingsDialog()">
                
                <i class="fas fa-cog ml-1"></i>
              </button>
              <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-rounded" [class.btn-primary]="isBacktestOpened"
                  [class.btn-secondary]="!isBacktestOpened" (click)="toggleBacktestPanel()">
                  Backtest Results
                  <i class="fas fa-times ml-1" *ngIf="isBacktestOpened"></i>
                </button>
                <button class="btn btn-rounded" [class.btn-primary]="isResourcesOpened"
                  [class.btn-secondary]="!isResourcesOpened" (click)="toggleResourcesPanel()">
                  Resources
                  <i class="fas fa-times ml-1" *ngIf="isResourcesOpened"></i>
                </button>
                <div class="editor-expand-icon" (click)="toggleVisibleChart()">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                    <title>Expand</title>
                    <path *ngIf="isVisibleChart" fill="#212637"
                      d="M0 9.143l22.857 22.857h-22.857v-22.857zM9.143 0h22.857v22.857l-22.857-22.857z"></path>
                    <path *ngIf="!isVisibleChart" fill="#212637"
                      d="M13.714 32l-13.714-13.714h13.714v13.714zM32 13.714h-13.714v-13.714l13.714 13.714z">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: calc(100% - 70px)">
          <div [class.col-sm-12]="!isBacktestOpened && !isResourcesOpened"
          [class.col-sm-7]="isBacktestOpened || isResourcesOpened">
            <div class="editor-wrapper">
              <app-eql-editor 
              [content]="eqlSettings.code"
              (contentChange)="onContentChange($event)"
              (changeCursor)="onChangeCursor($event)"
              (clickDecoration)="clickDecoration(editor, $event)" #editor></app-eql-editor>
            </div>
          </div>
          <div class="col-sm-5 editor-panel" [hidden]="!isBacktestOpened">
            <app-backtest-grid [isLoading]="isBacktesting" #grid></app-backtest-grid>
          </div>
          <div class="col-sm-5 editor-panel" [hidden]="!isResourcesOpened">
            <app-resources-panel [uiPartResults]="uiPartResults" (openModel)="openResourceModel($event)">
            </app-resources-panel>
          </div>
        </div>
      </as-split-area>
    </as-split>
    <div class="d-flex">
      <button class="btn btn-primary mr-3" (click)="runModel()" *ngIf="!isLoading">Run</button>
      <button class="btn btn-danger mr-3" (click)="cancelModel()" *ngIf="isLoading" [disabled]="!enableCancelTaskButton()">Cancel</button>
      <button class="btn btn-secondary mr-3" (click)="saveModel()" [disabled]="isLoading">{{model.id?'Edit':'Save'}}</button>
      <button class="btn btn-secondary" (click)="quickSaveModel()" [disabled]="isLoading" *ngIf="model.id">Save</button>
    </div>

  </div>
</div>

<app-float-window 
*ngFor="let item of varWindows"
[model]="item"
(change)="onVarWindowChange(item, $event)">
<spinner-flag *ngIf="item.data.isLoading"></spinner-flag>
<label *ngIf="item.data.error" class="alert alert-danger">{{item.data.error}}</label>
<div *ngIf="!item.data.isLoading && !item.data.error" style="height: calc(100% - 10px);">
    <app-sec-list-grid [uiPartResults]="item.data.uiPartResults" *ngIf="item.data.hasSecList"></app-sec-list-grid>
    <app-ts-grid [uiPartResults]="item.data.uiPartResults" *ngIf="item.data.hasTS"></app-ts-grid>
</div>
</app-float-window>
