.model-header {
  color: #2E5BFF;
  margin: 10px 0px;
}

.model-builder-body {
  height: 800px;
}

.split-area-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-builder-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;

  &>.btn:first-child {
    padding: 0px;
  }

  .btn-rounded {
    margin-right: 10px;
  }
}

.editor-wrapper {
  padding-left: 15px;
  height: 100%;
}

.editor-expand-icon {
  cursor: pointer;
}
.editor-panel {
  padding: 0px;
  border: 1px solid #E0E7FF;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.model-builder-split-area{
  overflow-y: hidden;
  overflow: visible!important;
}