.drag-bounds {
    position: absolute;
    top: 0;
    left: 0;
}

.widget-container {
    position: relative;
    border: 1px dashed #A4B7C1;
    background-color: #F4F6FC;
}

.widget-drag-handle {
    flex: 1;
}

.widget-content {
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
    overflow: auto;
}

::ng-deep {
    .ace-debug-icon {
        position: static !important;
    }
}

.widget-actions {
    cursor: grab;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    z-index: 300;
    height: 21px;
    box-shadow: 0 -5px #fff;
    margin-top: 5px;
}

.widget-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    display: inline-flex;
}

.widget-button:hover {
    background: rgba(#444, 0.2);
}

.widget-button:active {
    background: rgba(#444, 0.5);
}

.widget-button-icon {
    font-size: 18px;
}