<div class="drag-bounds" #dragBounds>
  <div #tabElement (mousedown)="selectWidget(tabElement)" [style.position]="'absolute'"
    [style.z-index]="model.settings.zIndex || 1000" class="widget-container"
    [ngResizable]="!model.settings?.isMinimized" rzHandles="e,s,se" ngDraggable [handle]="dragHandle"
    [bounds]="dragBounds" [outOfBounds]="{ right: true, bottom: true }" [style.width]="(model.settings?.width) + 'px'"
    [style.height]="(model.settings?.height) + 'px'" [rzMinWidth]="model.settings.minWidth"
    [rzMinHeight]="model.settings.minHeight" [inBounds]="true" (rzStop)="onResizeStop(tabElement)"
    (endOffset)="onMoveEnd($event)" [position]="{x: model.settings.x, y: model.settings.y }">

    <div class="widget-actions">
      <div #dragHandle class="widget-drag-handle">
        <span class="ml-2">{{ model.title }}</span>
      </div>
      <div style="margin-top: -2px;">
        <button class="widget-button" (click)="minimizeItem(tabElement)">
          <span class="material-icons widget-button-icon">remove</span>
        </button>
        <button class="widget-button" (click)="close()">
          <span class="material-icons widget-button-icon">close</span>
        </button>
      </div>
    </div>

    <div [hidden]="model.settings?.isMinimized" class="widget-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>