.navbar {
  background-color: #fff;
  border-bottom: 1px solid #E4E8F0;
  padding: 10px 30px;
}

.navbar-brand {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 57px;
}

.logo img {
  width: 117px;
}

.main-symbol-search-box {
  margin-right: auto;
  margin-left: 0;
  width: 380px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.nav-link-profile {
  color: #A9B3C5;
  font-size: 14px;
  line-height: 16px;
  i {
    margin-left: 2px;
  }
}

.dropdown-item {
  font-size: 14px;
}

.app-content-container {
  height: calc(100% - 56px);
  background-color: #F4F6FC;
  overflow-y: auto;
}

@media (max-width: 575px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0px;
  }
}

@media (max-width: 575px) {
  .main-symbol-search-box {
    margin-left: 10px;
  }

  .app-content-container {
    height: calc(100% - 81px);
  }
}
