<nav class="navbar" *ngIf="showNav()">

  <a class="navbar-brand logo">
    <img src="../assets/images/logo.svg">
  </a>

  <input type="text" class="main-symbol-search-box form-control" placeholder="Search anything..." />
  <ul class="navbar-nav" *ngIf="auth.loggedIn === false">
    <li class="nav-item active">
      <button class="btn btn-primary btn-margin" (click)="auth.login()">Log in</button>
    </li>
  </ul>
  <ul class="navbar-nav user-dropdown" *ngIf="profile">
    <li dropdown class="nav-item dropdown">
      <a class="nav-link nav-link-profile" href="" dropdownToggle (click)="false">
        {{profile.name}}
        <i class="fas fa-angle-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <!-- <a class="dropdown-item" href="/profile" target="_blank">Profile</a>
        <li class="divider dropdown-divider"></li> -->
        <a href="" class="dropdown-item" (click)="auth.logout(); false">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<div class="app-content-container container-fluid">
  <router-outlet></router-outlet>
  <div class="col-md-12 text-center footer-text mt-3" *ngIf="false">
    <p class="copyright">© 2019 Equeum LLC. All Rights Reserved.
      <a class="zs-grid-cell-link" target="_self" href="/terms#terms-of-use"> Terms of Use <span> | </span> </a>
      <a class="zs-grid-cell-link" target="_self" href="/terms#privacy-policy"> Privacy Policy </a>
    </p>
  </div>
</div>
