<div class="modal-header">
  <h4 id="dialog-sizes-name1" class="modal-title pull-left">EQL Context</h4>
  <button type="button" class="close pull-right" (click)="decline()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <div class="row">
    <div class="form-group col-sm-4">
      <label>Universe</label>
      <input type="text" class="form-control" placeholder="" value="US Securities & ETF's" disabled>
    </div>
    <div class="form-group col-sm-4">
      <label>Bar size</label>
      <select class="form-control" [(ngModel)]="settings.barSize">
        <option *ngFor="let t of barSizeItems" [ngValue]="t.code">{{t.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Target Symbol</label>
      <div class="row m-0 justify-content-between">

        <div class="input-group col-7 pr-1">
          <div class="input-group-prepend">
            <div class="input-group-text p-2">
              <input type="checkbox" [(ngModel)]="settings.showTargetSymbol">
            </div>
          </div>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="settings.targetSymbol" [disabled]="!settings.showTargetSymbol" autofocus>
        </div>
        <select class="form-control col-5" [(ngModel)]="settings.targetField" [disabled]="!settings.showTargetSymbol">
          <option *ngFor="let t of targetFieldsItems" [ngValue]="t.code">{{t.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Intraday</label>
      <select class="form-control" [(ngModel)]="settings.intraday">
        <option *ngFor="let t of [true,false]" [ngValue]="t">{{t}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Price Proxy</label>
      <select class="form-control" [(ngModel)]="settings.priceProxy">
        <option *ngFor="let t of priceProxyItems" [ngValue]="t.code">{{t.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Order</label>
      <select class="form-control" [(ngModel)]="settings.order">
        <option *ngFor="let t of orderItems" [ngValue]="t.code">{{t.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Start Date</label>
      <app-date-picker [date]="settings.startDate" (dateChange)="onStartDateChanged($event)"></app-date-picker>
    </div>
    <div class="form-group col-sm-4">
      <label>End Date</label>
      <app-date-picker [date]="settings.endDate" (dateChange)="onEndDateChanged($event)"></app-date-picker>
    </div>
    <div class="form-group col-sm-4">
      <label>Lag</label>
      <select class="form-control" [(ngModel)]="settings.lag">
        <option *ngFor="let t of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="t">{{t}} day{{t > 1 ? 's' : ''}}</option>
      </select>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
<div class="modal-footer justify-content-between mr-3">
  <button type="button" class="btn btn-secondary" (click)="saveAsDefault()" [disabled]="isBusy">Save as
    Default</button>
  <div class="row">
    <button type="button" class="btn btn-primary mr-3" (click)="confirm()" [disabled]="isBusy">Apply</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
  </div>
</div>