<div class="drag-bounds" #dragBounds>
  <ng-container *ngFor="let tab of tabs; let tabIndex = index">
    <ng-container *ngIf="!tab.settings.isClosed">
      <div
        #tabElement
        (mousedown)="selectWidget(tab, tabElement)"
        [style.position]="'absolute'"
        [style.z-index]="(tab.settings?.zIndex || 100) + 100"
        class="widget-container"
        [ngResizable]="!tab.settings?.isMinimized"
        rzHandles="e,s,se"
        ngDraggable
        [handle]="tabElement"
        [bounds]="dragBounds"
        [outOfBounds]="{ right: true, bottom: true }"
        [style.width]="(tab.settings?.width || tab.resource.settings.width) + 'px'"
        [style.height]="(tab.settings?.height || tab.resource.settings.height) + 'px'"
        [rzMinWidth]="tab.resource.settings.minWidth"
        [rzMinHeight]="tab.resource.settings.minHeight"
        [inBounds]="true"
        (rzStop)="onResizeStop(tab, tabElement)"
        (endOffset)="onMoveEnd($event, tab, tabIndex)"
        [position]="positions[tabIndex]"
    >

        <div class="widget-actions">
          <div class="widget-drag-handle">
            <span class="ml-2">{{ tab.title }}</span>
          </div>
          <div style="margin-top: -2px;">
            <button class="widget-button" (click)="minimizeItem(tab, tabElement)">
              <span class="material-icons widget-button-icon">remove</span>
            </button>
            <button class="widget-button" (click)="closeTab(tab)">
              <span class="material-icons widget-button-icon">close</span>
            </button>
          </div>
        </div>
        
          <div [hidden]="tab.settings?.isMinimized" class="widget-content">
              <app-loader [appCode]="tab.uiCode" (appCreated)="onCreateApp($event, tab)"></app-loader>
          </div>
        </div>
      </ng-container>
  </ng-container>
</div>
