@import "vars.less";

.instructions {
  height: 16px;
  width: 83px;
  color: @labelColor;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 16px;
}
.instructions-list {
  padding-left: 14px;
}
.instructions-collapse {
  color: #a9b3c5;
  margin-left: 7px;
}
.plotting-settings {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  h4 {
    color: @labelColor;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .settings-label {
    display: flex;
    align-items: center;
  }
  .settings-value {
    margin-bottom: 10px;
  }
}
.btn-hide-settings {
  float: right;
  margin-right: -55px;
  margin-top: 20px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
}
.nlp-chart-container {
  max-height: 600px;
  overflow-y: auto
}