<div>
  <h4 class="app-header pb-1">Equeum NLP</h4>
  <span class="instructions">Instructions</span>
  <a href="javascript:;" class="instructions-collapse" (click)="showInstructions = !showInstructions">
    <i class="fas fa-angle-down" *ngIf="!showInstructions"></i>
    <i class="fas fa-angle-up" *ngIf="showInstructions"></i>
  </a>
  <ol class="instructions-list pt-2" *ngIf="showInstructions">
    <li>
      <b>Select a Data Frequency from the dropdown menu.</b>
      <p>Keep in mind that news data of this type does not appear regularly, every minute the way price and volume data
          does. This field lets you select a frequency to condense to - for instance - daily frequency NLP data will average
          together any sentiment events within a day.</p>
    </li>
    <li>
      <b>Select a Start and End Date from the drop down menus</b>
      <p>This data is currently available from 01/01/2015 through 12/31/2015.</p>
    </li>
    <li>
      <b>Select Plotting Settings</b>
      <ul>
        <li>
          <b>View By</b>
          <p>There are 2 ways to explore the data by - Time and Frequency. Plotting by time will show you the results as a
              line, to help understand how the sentiment data changes over time. Plotting by frequency will produce
              histogram plots that count up the number of occurrences in a given group of sentiment data. This can give you
              insight into how often different sentiment scores occur within the selected time period.</p>
        </li>
        <li>
          <b>Recalculate Every</b>
          <p>Further calculations on the sentiment data can be repeated over time to distinguish the effects of sentiment
              over time. This setting allows you to select how regularly to recalculate on the data.</p>
        <li>
          <b>Group By and Number of Groups</b>
          <p>This is the first calculation that will alter the sentiment data. Grouping data helps you ask questions about
              the number (Count) or quality (Mean or Median) of the sentiment data. If you group by count, you will split
              the sentiment data into bins based on how many sentiment events (analyzed news articles) occur in a time
              period. When you specific Number of Groups, you specify the number of bins to create. For instance, if you
              select 3 groups, and group by count - the system will calculate 3 equally sized bins of the number of events
              occurring during that period.
              Grouping by mean or median similarly produces equally sized bins based on sentiment score, by calculating the
              mean (average) or median for a given time period for each symbol, and then placing them in a bin.</p>
        </li>
        <li>
          <b>Lock Groups</b>
          <p>Lock groups simply stops symbols from being resorted into a new group at each recalculation period. In
              instances where you use identical measures for Group By and Aggregation, you will generally want Lock Groups
              on. This allows you to ask questions like: what happens to the mean sentiment score for symbols who start with
              high sentiment during the first period?</p>
        </li>
        <li>
          <b>Aggregation Calculation</b>
          <p>The final calculation that aggregates (combines) group data during a time period - Count will count up the
              number of sentiment events within each group, while Mean and Median will calculate each respectively across
              the organized groups.</p>
        </li>
      </ul>
    <li><b>Examine your output</b>
      <p>Select "Run" in order to view a plot of your data. This will produce a plot that includes either a line or a
          histogram (depending upon View By) for each group. You can scroll over the plot in order to get further
          information about the data you've examined. Settings can be altered and re-run as you narrow the data you've
          received.</p>
    </li>
    <li>
      <b>Save and Publish</b>
      <p>The Save button will allow you to save a query that you have produced for later examination. Finally, Publish will
          display the EQLF code used in producing these groups, in order to reuse this code in strategies produced in Model
          Builder.</p>
    </li>
    <li>
      <b>Example</b>
      <p>
          Let's assume that we're interested in what happens to the the quality of sentiment for symbols that have the most
          number of articles published about them per month. We can select View By Time, and recalculate every month. Since
          we're talking about the number of articles, we'll group by Count. This is going to produce some number of equally
          sized groups based on number of articles per month - so let's start with 3 groups for high, medium, and low
          numbers of news per symbol. Since we're interested in sentiment for those with the most news, we'll be most
          interested in the first group, and we can aggregate using mean, for average sentiment. Lastly, we don't need to
          check Lock Groups, since we're not measuring the same operation (like count) for both grouping and aggregation.
          This will produce our groups to look at the trend of sentiments by number of articles per month.
      </p>
    </li>
  </ol>

  <div class="row pt-3">
    <div class="form-group col-sm-3">
      <label>Security List / Symbol Search</label>
      <input type="text" class="form-control" placeholder="" [(ngModel)]="settings.security">
    </div>
    <div class="form-group col-sm-2">
      <label>Data Frequency</label>
      <select class="form-control" [(ngModel)]="settings.frequency">
        <option *ngFor="let t of barSizeItems" [ngValue]="t.code">{{t.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>Start Date</label>
      <app-date-picker [date]="settings.startDate" (dateChange)="onStartDateChanged($event)"></app-date-picker>
    </div>
    <div class="form-group col-sm-2">
      <label>End Date</label>
      <app-date-picker [date]="settings.endDate" (dateChange)="onEndDateChanged($event)"></app-date-picker>
    </div>
    <div class="form-group col-sm-2">
      <label style="color: transparent">Run button</label>
      <button class="btn btn-primary" style="display: block" (click)="run()" *ngIf="!loading">Run</button>
      <button class="btn btn-danger" style="display: block" (click)="cancelRun()"
        [disabled]="!activeReq || !activeReq.taskHandle" *ngIf="loading">Cancel</button>
    </div>
  </div>

  <button class="btn btn-rounded btn-secondary mb-3" *ngIf="!showPlottingSettings"
    (click)="setShowPlottingSettings(true)">
    Settings <i class="fas fa-caret-right pl-2"></i>
  </button>
  <div class="row mb-5">
    <div class="col-sm-4" *ngIf="showPlottingSettings">
      <div class="plotting-settings">
        <button class="btn btn-rounded btn-secondary btn-hide-settings" *ngIf="showPlottingSettings"
          (click)="setShowPlottingSettings(false)">
          <i class="fas fa-caret-left"></i>
        </button>

        <h4 class="">Plotting Settings</h4>
        <div class="row">
          <label class="col-sm-4 mt-1 settings-label">View By</label>
          <div class="col-sm-8 settings-value">
            <select class="form-control" [(ngModel)]="settings.viewBy">
              <option *ngFor="let t of viewByItems" [ngValue]="t.code">{{t.name}}</option>
            </select>
          </div>

          <label class="col-sm-4 settings-label">Recalculate Every</label>
          <div class="col-sm-8 settings-value">
            <select class="form-control" [(ngModel)]="settings.recalculateEvery">
              <option *ngFor="let t of recalculateEveryItems" [ngValue]="t.code">{{t.name}}</option>
            </select>
          </div>

          <label class="col-sm-4 settings-label">Group By</label>
          <div class="col-sm-8 settings-value">
            <select class="form-control" [(ngModel)]="settings.groupBy">
              <option *ngFor="let t of groupByItems" [ngValue]="t.code">{{t.name}}</option>
            </select>
          </div>

          <label class="col-sm-4 settings-label">Lock Groups</label>
          <div class="col-sm-8 settings-value">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="settings.lockGroups">
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </div>

          <label class="col-sm-4 settings-label">Number of Groups</label>
          <div class="col-sm-8 settings-value">
            <input class="form-control" type="number" [(ngModel)]="settings.groupsCount">
          </div>

          <label class="col-sm-4 settings-label">Aggregation Calculation</label>
          <div class="col-sm-8 settings-value">
            <select class="form-control" [(ngModel)]="settings.aggregation">
              <option *ngFor="let t of groupByItems" [ngValue]="t.code">{{t.name}}</option>
            </select>
          </div>

        </div>
      </div>
    </div>
    <div class="nlp-chart-container" [class.col-sm-8]="showPlottingSettings" [class.col-sm-12]="!showPlottingSettings">
      <app-model-builder-request-progress *ngIf="loading" [uiReq]="activeReq"></app-model-builder-request-progress>
      <highchart #chart1 [hidden]="loading" class="auto-height"></highchart>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="sendToModelBuilder()">Send to Models</button>
  </div>
</div>