<div class="modal-body ">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="tool.title" autofocus>
      </div>
      <div class="form-group">
        <label>Workspace</label>
        <select class="form-control" [(ngModel)]="selectedWorkspace">
          <option *ngFor="let ws of workspaces" [ngValue]="ws">{{ws.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <a href="" (click)="showNewWorkspaceDialog(); false">New workspace...</a>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary mr-3" (click)="confirm()" [disabled]="!selectedWorkspace || isBusy">Add
    Tool</button>
  <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
</div>
