<div class="app-panel pt-3">
  <!-- <h3 class="app-title pb-0" *ngIf="isTool">Market graph</h3> -->
  <h4 class="app-header" *ngIf="!ws"> Market graph </h4>
  <div class="row m-0">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <label class="col-form-label"> Metric:</label>
    <div class="col-3">
      <app-items-select (select)="onUiPartChanged($event)" [items]="uiPartItems" [selected]="uiPart">
      </app-items-select>
    </div>
  </div>

  <div class="row m-0" style="position: relative">
    <div #chartDiv class="chart-container"></div>
    <div *ngIf="isLoading" class="chart-container loading">
      <spinner-flag></spinner-flag>
    </div>
  </div>
  <div class="row m-0" class="grid-container">
    <app-grid [isLoading]="isLoading" [columnDefs]="columnDefs" [rowData]="rows" [domLayout]="'autoHeight'"></app-grid>
  </div>

</div>
