@import "vars.less";

.resources-panel-toolbar {
  display: flex;
  padding-right: 15px;
  .btn-group.btn-group-toggle {
    flex-grow: 1;
    display: flex;
    padding: 8px 5px 5px 5px;

    .btn {
      flex-grow: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .btn:last-child {
    padding: 8px 10px;
  }

  i {
    color: #C3C9D4;
  }

  .search {
    flex-grow: 1;
    position: relative;

    input {
      border: none;
      height: 34px;
      font-size: 14px;
      line-height: 16px;
      padding: 8px 15px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    i {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 14px;
      line-height: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.resources-panel-grid {
  height: calc(100% - 55px);
  padding-left: 15px;
  padding-right: 25px;
}

.resources-list {
  height: 759px;
  overflow-y: auto;
  margin-left: -22px;
  padding-left: 22px;
}

.resources-list-item {
  padding: 20px;
  border-bottom: 1px solid #E0E7FF;
  position: relative;

  &:hover {
    background-color: #F4F6FC;
    box-shadow: 0 10px 20px 0 #E0E6EB;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: -22px;
      border-top: 51px solid transparent;
      border-bottom: 51px solid transparent;
      border-right: 22px solid #F4F6FC;
    }

    .resource-title {
      i {
        display: block;
      }
    }
  }
}

.resource-title {
  display: flex;

  h5 {
    flex-grow: 1;
    margin: 0px;
    color: @labelColor;
    font-size: 16px;
    line-height: 19px;
  }

  i {
    display: none;
    color: #C3C9D4;
    font-size: 13px;
    line-height: 19px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  margin-bottom: 5px;
}

.resource-subtitle {
  color: #A9B3C5;
  font-size: 12px;
  line-height: 14px;
  margin: 0px 0px 10px 0px;
}

.resource-description {
  color: #687794;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
}
