<div class="resources-panel-toolbar">
  <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="!searchOpened">
    <label class="btn btn-rounded" [class.btn-primary]="selectedTab === t" [class.btn-secondary]="selectedTab !== t"
      *ngFor="let t of tabs" (click)="selectedTab = t">{{t.name}}</label>
  </div>
  <!-- <button class="btn" (click)="searchOpened=true" *ngIf="!searchOpened">
    <i class="fas fa-search" title="Search resources"></i>
  </button>
  <div class="search" *ngIf="searchOpened">
    <input placeholder="Search" />
    <i class="fas fa-times" title="Search resources" (click)="searchOpened=false"></i>
  </div> -->
</div>
<spinner-flag *ngIf="isLoading"></spinner-flag>
<div [hidden]="isLoading" class="resources-panel-grid">
  <app-models-grid [hideHeader]="'true'" (openModel)="onOpenModel($event)" *ngIf="selectedTab.name === 'Models'"></app-models-grid>
  <div *ngIf="selectedTab.name === 'Datasets'">
    <h4>Coming soon</h4>
  </div>
  <div class="h-100" [hidden]="selectedTab.name !== 'Security lists'">
      <app-sec-list-grid [uiPartResults]="uiPartResults"></app-sec-list-grid>
  </div>
</div>
