<div class="admin-container row">
  <div class="col-auto p-3 admin-sidebar">
    <span>Analytics</span>
    <a [routerLink]="['/admin/overview']">Overview</a>
    <a [routerLink]="['/admin/user-explorer']">User explorer</a>
    <a [routerLink]="['/admin/page-attendance-analysis']">Page attendance analysis</a>
    <a [routerLink]="['/admin/search-analysis']">Search analysis</a>
    <a [routerLink]="['/admin/events-analysis']">Events analytics</a>
  </div>
  <div class="admin-content col">
    <div class="pt-3">
      <a [routerLink]="['/']">Back</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
