.admin-container {
  height: 100%;
  overflow: hidden;
}

.admin-sidebar {
  span {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
  }
  a {
    display: block;
    line-height: 30px;
  }
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.admin-content {
  height: 100%;
  overflow: auto;
}

.tabs {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tab {
  flex: 1;
  padding: 15px 20px;
  color: #687794;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
  max-width: 350px;
  &:hover {
    cursor: pointer;
  }
}

.tab-selected {
  background-color: #687794;
  color: #ffffff;
}

.tab-header {
  font-size: 18px;
  margin-bottom: 15px;
}

.tab-value {
  font-size: 28px;
}

.chart-container {
  min-height: 300px;
}
