<div class="modal-header">
  <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{backtest.name}}</h4>
  <button type="button" class="close pull-right" (click)="decline()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body " style="padding-top: 5px;">
  <spinner-flag *ngIf="isLoading"></spinner-flag>
  <div [hidden]="isLoading">
    <div style="height: 250px">
        <highchart #chart1></highchart>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <key-value-table [rows]="btKeyValues1"></key-value-table>
        </div>
        <div class="col-sm-6">
            <key-value-table [rows]="btKeyValues2"></key-value-table>
        </div>
    </div>
  </div>
</div>