@import "vars.less";

.datasets-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.new-dataset-link {
  color: #2E5BFF;
  font-size: 16px;
}
.app {
  display: flex;
  .app-img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .app-icon {
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .app-title-wrapper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
    margin-bottom: 7px;
  }
  .app-title {
    color: @labelColor;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .app-info {
    color: #687794;
    font-size: 12px;
    line-height: 14px;
  }
}
