<div *ngIf="view === 'main'">
  <div class="datasets-header">
    <h4 class="app-header">Data sets</h4>
    <button class="btn btn-link new-dataset-link" (click)="showDatasetCreate();">Load</button>
  </div>
  <spinner-flag *ngIf="isLoading"></spinner-flag>
  <div *ngIf="!datasets.length && !isLoading">There's nothing here</div>
  <div [hidden]="isLoading || !datasets.length">
    <app-dataset-expanded-panel (clickOpen)="viewDataset(ds)" [ds]="ds" *ngFor="let ds of datasets">
      <div class="row pt-3 pb-3">
        <button class="btn btn-link" (click)="viewDataset(ds)">View</button>
        <button class="btn btn-link" (click)="editDataset(ds)">Edit</button>
        <button class="btn btn-link" (click)="deleteDataset(ds)">Delete</button>
      </div>
    </app-dataset-expanded-panel>
  </div>
</div>
<div *ngIf="view === 'edit'">
  <a href="javascript:;" (click)="backToDatasets()">Back</a>
  <app-dataset-create (saveDraft)="saveDataset($event)" (saveAndPublish)="saveDatasetAndPublish($event)"
    (cancel)="backToDatasets()"
    [ds]="editedDataset"></app-dataset-create>
</div>
<div *ngIf="view === 'view'">
  <a href="javascript:;" (click)="backToDatasets()">Back</a>
  <h4 *ngIf="editedDataset">{{editedDataset.name}}</h4>
  <div>
    <app-dataset-grid [dataset]="editedDataset"></app-dataset-grid>
  </div>
</div>