@import "vars.less";

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: #2E5BFF;
}

.zs-grid-cell-positive {
  color: #007d34;
}

.zs-grid-cell-negative {
  color: #c40000;
}

.trends-text {
  color: #fff;
  padding: 0.3rem;
  margin-left: 0.5rem;
}

.trends-text.zs-grid-cell-positive {
  background: #007d34;
}

.trends-text.zs-grid-cell-negative {
  background: #c40000;
}

.zs-grid-cell-right {
  text-align: right;
}

.zs-grid-cell-center {
  text-align: center;
}

.zs-grid-header-cell-right {
  text-align: right;
}

.ag-header-cell-text {
  flex: 1;
}

.zs-grid-cell-link {
  color: #004f88;
}

.zs-grid-cell-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.ag-cell {
  border-right: 1px solid #ccc !important;
}

.float-right {
  float: right;
}

.inside-middle {
  display: table-cell;
  vertical-align: middle;
}

.search-box[_ngcontent-muc-c2] {
  height: 30px;
  width: 100%;
}

/* custom-forms-scss.css:213
*/
.custom-select {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  background: #f7f7f7;
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -webkit-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #a5a5a5;
  appearance: menulist;
}

/*TODO*/
/* select border-radous:0px, optgroup lable color #566784 */
/*dropdown icon on select at right hand side*/

optgroup[label] {
  color: #414141;
}

optgroup[label] option {
  color: black;
}

.text-bold {
  font-weight: bold;
}

.keystats-panels .table {
  border: 0;
}

.keystats-panels .table,
.keystats-panels .table td {
  border-left: 0;
  border-right: 0;
}

.keystats-panels .table td:first-child {
  border-left: 0;
}

.scroll-200 {
  max-height: 200px;
  overflow-y: auto;
}

.scroll-300 {
  max-height: 300px;
  overflow-y: auto;
}

.scroll-full-height {
  max-height: 100%;
  overflow-y: auto;
}

/* For select-label-group */
.select-label-group,
.select-label-group .control-label {
  margin-bottom: 0;
  font-size: 12px;
  color: #687794;
}

.autocomplete-container {
  z-index: 999;
}

@media (max-width: 575px) {
  .autocomplete-container .suggestions-container {
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }

  html,
  body,
  thead th,
  .custom-select,
  .zs-ag-grid,
  .ag-header-container,
  .table {
    font-size: 15px !important;
  }
}

@media (min-width: 576px) {
  .autocomplete-container .suggestions-container {
    width: 300px !important;
  }
}

@media (min-width: 676px) {
  .autocomplete-container .suggestions-container {
    width: 400px !important;
  }
}

@media (min-width: 776px) {
  .autocomplete-container .suggestions-container {
    width: 500px !important;
  }
}

@media (min-width: 876px) {
  .autocomplete-container .suggestions-container {
    width: 600px !important;
  }
}

.zs-ag-grid {
  margin-top: 3px;
  font-size: 13px;
}

.zs-ag-grid-normal {
  height: 100%;
}

cq-lookup-filters {
  display: none !important;
}

cq-scroll {
  max-height: 200px;
  padding: 0;
}

.ciq-display.stxMenuActive>cq-menu-dropdown {
  max-height: 200px;
  height: 200px;
}

.ciq-menu.collapse {
  display: inherit;
}

cq-context {
  height: inherit !important;
  width: inherit !important;
}

.ciq-chart-area {
  bottom: 0;
  padding: 2px;
}

.frequency-type-label {
  float: right;
  color: #514b4b;
  font-size: 9px;
  text-transform: lowercase;
}

h5.card-header {
  font-size: 17px;
  margin: 0;
  margin-bottom: 8px;
  background: none;
  border-bottom: 2px solid #777777;
}

h5.card-header a {
  font-size: 14px;
  color: #004f88;
}

.ag-header-container {
  font-size: 12px;
  color: #3f3f3f;
}

.symbol-brief-desc {
  font-size: 12px;
  color: #383838;
  margin-left: 3px;
}

.latest_px_close {
  font-size: 27px;
}

.table {
  font-size: 12px;
  margin: 0px !important;
}

tr {
  line-height: 14px;
  min-height: 14px;
  height: 14px;
}

.control-label {
  font-size: 12px;
}

.card-body {
  padding: 0.25rem !important;
}

.news_link {
  font-size: 14px;
  color: #004f88;
}

.small-text {
  font-size: 12px;
}

.trends_text {
  margin: 10px;
  padding: 6px 10px 6px 10px;
  background: #111;
  font-weight: normal;
}

.footer-text {
  font-size: 12px;
}

.bs-datepicker-container {
  padding: 0;
}

.theme-blue .bs-datepicker-head {
  background-color: #fff;
}

.bs-datepicker-head button {
  color: @labelColor;
}

.theme-blue .bs-datepicker-body table td span.selected {
  background-color: #2E5BFF;
}

.bs-datepicker-body table.days span {
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 4px;
}

.theme-blue .bs-datepicker-body table td.week span {
  color: #2E5BFF;
}

.bs-datepicker-body table th {
  color: #677693;
  padding-bottom: 8px;
}

.bs-datepicker-body table td {
  color: @labelColor;
}

.bs-datepicker-body {
  min-height: 125px;
  min-width: 270px;
}

.bs-datepicker-head button:hover {
  color: #2E5BFF;
  background-color: transparent;
}

.bs-datepicker-body table td.is-highlighted:not(.disabled):not(.selected) span {
  background-color: transparent;
  color: #2E5BFF;
}

.bs-datepicker-body table.years td span {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.bs-datepicker-body table.months td {
  height: 24px;
}
.app-header {
  color: @labelColor;
  font-size: 30px;
  font-weight: 250;
  line-height: 47px;
}

.ag-theme-balham .ag-icon-desc {
  height: 12px;
}

.ag-theme-balham .ag-icon-asc {
  height: 12px;
}
.form-group {
  > label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
}