@import "vars.less";

.models-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.new-model-link {
  float: left;
    margin-right: 10px;
    margin-top: 8px;
}