<div class="models-header">
  <h4 class="app-header">Models</h4>
  <div>
    <a href="javascript:;" (click)="onOpenModel(null); false" class="new-model-link">+ New Model</a>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                aria-controls="dropdown-basic">
          Sort <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a href="javascript:;" class="dropdown-item" (click)="sortBy('updatedAt', 'desc'); false">By date modified</a></li>
          <li role="menuitem"><a href="javascript:;" class="dropdown-item" (click)="sortBy('publishedAt', 'desc'); false">By date added</a></li>
          <li role="menuitem"><a href="javascript:;" class="dropdown-item" (click)="sortBy('name', 'asc'); false">A-Z</a></li>
          <li role="menuitem"><a href="javascript:;" class="dropdown-item" (click)="sortBy('name', 'desc'); false">Z-A</a></li>

        </ul>
      </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterText">
  </div>
</div>
<spinner-flag *ngIf="isLoading"></spinner-flag>
<app-models-expanded-panel [hidden]="isLoading" (clickOpen)="viewDataset(model)" [model]="model" *ngFor="let model of filterModels(models, filterText)">
  <div class="row pt-3 pb-3">
    <button class="btn btn-link" (click)="onOpenModel(model)">View</button>
    <button class="btn btn-link" (click)="deleteModel(model)">Delete</button>
  </div>
</app-models-expanded-panel>