.card {
  margin-top: 10px;
  margin-left: 10px;
}
.card .card-body {
  padding: 0;
  height: auto;
}
.top-buttons-wrapper {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: -10px 0px 20px 0px;
}
