<spinner-flag [message]="'Loading...'" *ngIf="isLoading"></spinner-flag>
<div *ngIf="!isLoading && view === 'selectTool'">
  <app-workspace-select-tool [tools]="tools" (select)="addWidget($event, true)"></app-workspace-select-tool>
</div>

<div [hidden]="isLoading || view !== 'viewTool'">
  <a href="javascript:history.back();" class="back-link">Back</a>
  <div class="top-buttons-wrapper">
    <a href="javascript:;" (click)="showAddToWorkspaceModal(); false" title="Add to workspace">
      <svg-icon src="assets/icons/addToWorkspace.svg" [svgStyle]="{'fill':'#6D96FF'}"></svg-icon>
    </a>

  </div>
  <app-loader (appCreated)="onAppCreated($event)" #appLoader></app-loader>
</div>
