@import "vars.less";

.expanded-panel {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
  border: none;
  margin-bottom: 20px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 10px 20px 0 rgba(46,91,255,0.2);
  }

  .summary {
    background-color: #FFFFFF;
    padding: 20px 0;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      border-bottom: 1px solid #E4E8F0;
    }

    .dataset-type {
     font-size: 12px;
     font-weight: bold;
     line-height: 17px;
     .published {
       color: #00B476;
      }
      .draft {
        color: #C3C9D4;
      }
    }
    &--text {
      cursor: pointer;
      width: calc(100% - 100px);
    }
    .summary-title {
      color: @labelColor;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .summary-info {
      color: #687794;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .details {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    &.is-open {
      max-height: 300px;
    }
  }
}
