<div class="modal-header pt-3 pl-3 pr-3">
    <h4 id="dialog-sizes-name1" class="modal-title pull-left"></h4>
    <button type="button" class="close pull-right" (click)="decline()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-3">
    <h6 class="text-center">{{message}}</h6>
</div>
<div *ngIf="isYesNo" class="modal-footer pb-3 pl-3 pr-3">
    <button type="button" class="btn btn-primary mr-3" (click)="confirm()" *ngIf="confirmButtonText">{{confirmButtonText}}</button>
    <button type="button" class="btn btn-secondary" (click)="decline()" *ngIf="cancelButtonText">{{cancelButtonText}}</button>
</div>
<div *ngIf="!isYesNo" class="modal-footer pb-3 pl-3 pr-3">
    <button type="button" class="btn btn-primary" (click)="decline()">Close</button>
</div>
